
{% extends 'main.html' %}
 {% load static %}
     
     {% block body %}
     <section class="blog_details">
         <div class="container">
             <div class="blog_details_title">
                 <h1>the secret tips & tricks to prepare a perfect burger & pizza for our customers</h1>
                </div>
            <div class="blog_details_image">
                <img src="img/icos/blog_details.jpg" alt="">
            </div>
            <div class="question_content">
                <h3>what do you need to prepare a home-made burger</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, eum dignissimos. Voluptatibus, aspernatur eligendi aliquam modi amet unde distinctio libero quaerat sunt. Ipsa nisi natus aut! Aut ea veniam vero, aspernatur eligendi aliquam modi amet unde distinctio libero quaerat sunt. Ipsa nisi natus aut! Aut ea veniam vero!</p>
                <ul >
                    <li> <b>quality beef</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>seasoning</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>don't overwork the meat</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>cooking</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>resting</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                </ul>
            </div>
            <div class="question_content">
                <h3>what do you need to prepare a home-made burger</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, eum dignissimos. Voluptatibus, aspernatur eligendi aliquam modi amet unde distinctio libero quaerat sunt. Ipsa nisi natus aut! Aut ea veniam vero, aspernatur eligendi aliquam modi amet unde distinctio libero quaerat sunt. Ipsa nisi natus aut! Aut ea veniam vero!</p>
                <ul >
                    <li> <b>quality beef</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>seasoning</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>don't overwork the meat</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>cooking</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                    <li> <b>resting</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati vel sed, quisquam corrupti dolores harum qui architecto minus. </li>
                </ul>
            </div>
            <div class="blog_details_image">
                <img src="img/icons/blog_details2.jpg" alt="">
            </div>
            <div class="question_content">
                <h3>what do you need to prepare a home-made burger</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis rem accusantium, cupiditate quasi facilis ullam quaerat itaque exercitationem pariatur mollitia nisi, quod eos distinctio est numquam ipsum quos ut dicta modi! Eveniet odit et quia saepe quisquam dolorem temporibus aliquid autem laborum quae. Voluptatem ab corrupti iste asperiores, dicta dolorem.<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sapiente dignissimos enim molestiae nemo tempora! Nobis asperiores voluptate nostrum distinctio sequi modi animi, libero quam numquam vel nesciunt velit neque.</p>
            </div>
        </div>
    </section>
    <section class="read_more" >
        <div class="container">
            <div class="read_more_header">
                <h1>read more articles</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore tenetur earum sit nihil, officiis deleniti.</p>
            </div>
            <div class="read_more_content">
                <div class="read_more_box">
                    <div class="read_more_image">
                        <img src="img/icons/blog_details3.jpg" alt="">
                    </div>
                    <h5 class="read_more_time">Junuary 3,2023</h5>
                    <h3 class="box_title" >how to prepare a delicious gluten free sushi</h3>
                </div>
                <div class="read_more_box">
                    <div class="read_more_image">
                        <img src="img/icons/blog_details4.jpg" alt="">
                    </div>
                    <h5 class="read_more_time">Junuary 3,2023</h5>
                    <h3 class="box_title" >how to prepare a delicious gluten free sushi</h3>
                </div>
                <div class="read_more_box">
                    <div class="read_more_image">
                        <img src="img/icons/blog_details.jpg" alt="">
                    </div>
                    <h5 class="read_more_time">Junuary 3,2023</h5>
                    <h3 class="box_title" >how to prepare a delicious gluten free sushi</h3>
                </div>
                <div class="read_more_box">
                    <div class="read_more_image">
                        <img src="img/icons/blog_details5.jpg" alt="">
                    </div>
                    <h5 class="read_more_time">Junuary 3,2023</h5>
                    <h3 class="box_title" >how to prepare a delicious gluten free sushi</h3>
                </div>
            </div>
        </div>
    </section>
{%endblock body%}