{% extends 'main.html' %}
{% load static %}



{%block body%}
   <section class="our_blog">
    <div class="container">
        <div class="menu_title">
            <h2 class="sec_tit">Our Blog & Articles</h2>
            <p class="main_txt">We consider all the drivers of change gives you the components you need to change to
                create a truly happens.</p>
        </div>
        <div class="blog_cards flex">
            <a href="{% url 'blog_details' %}">
                <div class="blog_blog_card">
                       <div class="blog_blog_img">
                          <img src="{% static 'img/icons/pages_card_1.jpg' %}" alt="" />
                       </div>
                      <span class="blog_date">January 3, 2023</span>
                      <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>
            <a href="{% static 'Blogdetails/blog_detailes.html' %}">
                <div class="blog_blog_card">
                    <div class="blog_blog_img">
                        <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                    </div>
                    <span class="blog_date">January 3, 2023</span>
                    <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>				
            </a>
            <a href="{% static 'Blogdetails/blog_detailes.html' %}">
                <div class="blog_blog_card">
                    <div class="blog_blog_img">
                        <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                    </div>
                    <span class="blog_date">January 3, 2023</span>
                    <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>
            <a href="{% static 'Blogdetails/blog_detailes.html' %}" >
               <div class="blog_blog_card">
                    <div class="blog_blog_img">
                      <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                    </div>
                   <span class="blog_date">January 3, 2023</span>
                   <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>   
            <a href="{% static 'Blogdetails/blog_detailes.html' %}">
                <div class="blog_blog_card">
                    <div class="blog_blog_img">
                       <img src="{% static 'img/icons/pages_card_1.jpg' %}" alt="">
                    </div>
                    <span class="blog_date">January 3, 2023</span>
                    <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>
            <a href="{% static 'Blogdetails/blog_detailes.html' %}">
                <div class="blog_blog_card">
                 <div class="blog_blog_img">
                    <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                 </div>
                  <span class="blog_date">January 3, 2023</span>
                  <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>				
            <a href="{% static 'Blogdetails/blog_detailes.html' %}">
                <div class="blog_blog_card">
                    <div class="blog_blog_img">
                        <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                    </div>
                   <span class="blog_date">January 3, 2023</span>
                   <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>  
            <a href="{% static 'Blogdetails/blog_detailes.html' %}" class="blog_card">
                <div class="blog_blog_card">
                    <div class="blog_blog_img">
                       <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                    </div>
                  <span class="blog_date">January 3, 2023</span>
                  <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>
            <a href="{% static 'Blogdetails/blog_detailes.html' %}">
                <div class="blog_blog_card">
                   <div class="blog_blog_img">
                       <img src="{% static 'img/icons/pages_card_1.jpg' %}" alt="">
                   </div>
                   <span class="blog_date">January 3, 2023</span>
                   <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a> 
            <a href="{% static 'Blogdetails/blog_detailes.html' %}">
                <div class="blog_blog_card">
                   <div class="blog_blog_img">
                       <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                   </div>
                  <span class="blog_date">January 3, 2023</span>
                  <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers </h3>
                </div>
            </a>				
            <a href="{% static 'Blogdetails/blog_detailes.html' %}" class="blog_card">
                <div class="blog_blog_card">
                    <div class="blog_blog_img">
                       <img src="{% static 'img/icons/pages_card_2.jpg' %}" alt="">
                    </div>
                    <span class="blog_date">January 3, 2023</span>
                    <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>
            <a href="{% static 'Blogdetails/blog_detailes.html'%}" class="blog_card">
                <div class="blog_blog_card">
                    <div class="blog_blog_img">
                         <img src="img/icons/pages_card_2.jpg" alt="">
                    </div>
                   <span class="blog_date">January 3, 2023</span>
                   <h3 class="blog_tit">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h3>
                </div>
            </a>
        </div>
   </section>

{%endblock body%}